body {
	background-color: #f1f1f1 !important;
}

td, td {
	width: 12.5%;
}

#sampleFile {
	opacity: 0;
}

#deskTop {
	padding-left: 200px;
}

h3 {
	font-family: inherit;
	font-weight: 500;
}

#delete {
	margin-left: 225px;
	
}