body {
	background-color: #f1f1f1;
}

td, td {
	width: 12.5%;
}

h3 {
	font-family: inherit;
	font-weight: 500;
}

.businessCard {
	box-shadow: 2px 2px 3px grey;
}

#profileLogout {
	opacity: 1;
}

#dynamicTable {
	height: 400px;
	overflow: auto;
}

#sampleFile {
	opacity: 0;
}

#deskTop {
	padding-left: 200px;
}

#delete {
	margin-left: 225px;
}

#spaceSaver {
	opacity: 0;
}



